In [44]:
cd ../Data

C:\Users\Frank\Jupyter Notebook\Udacity\ship_recommendation\Data

In [45]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import polyline

df = pd.read_csv('df_ports.csv')

In [46]:
polyline.decode(df['encodedPolyline'][1])

[(51.37108, 4.2136),
 (51.37387, 4.30304),
 (51.32916, 4.34321),
 (51.32669, 4.3439),
 (51.28215, 4.3839),
 (51.26035, 4.4148),
 (51.2323, 4.42064),
 (51.21693, 4.39815),
 (51.20381, 4.37343),
 (51.20854, 4.36862),
 (51.23445, 4.39488),
 (51.23499, 4.34956),
 (51.24789, 4.29789),
 (51.26035, 4.24553),
 (51.2509, 4.23489),
 (51.25864, 4.19386),
 (51.29504, 4.22133),
 (51.30524, 4.26339),
 (51.37098, 4.21241)]

In [47]:
df = df[df['description'].str.find(' ') < 0]

In [48]:
df = df.dropna(subset = ['encodedPolyline'])

In [49]:
df = df[['code','description','type','encodedPolyline']]

In [50]:
df = df.drop(index = 162)

In [51]:
sum(df.description.isna())

0

In [52]:
df_un1 = pd.read_csv('2020-2 UNLOCODE CodeListPart1(1).csv')
df_un2 = pd.read_csv('2020-2 UNLOCODE CodeListPart2(1).csv')
df_un3 = pd.read_csv('2020-2 UNLOCODE CodeListPart3(1).csv')

In [53]:
df_countries = df_un1.append([df_un2,df_un3])

In [54]:
df_countries = df_countries[df_countries['country_code'].isin(['CH','DE','BE','NL','FR','LU'])]

In [55]:
df_countries.reindex()

,country_code,city_code,city1,city2,alt,number,alt2,alt3,alt4,alt5,Unnamed: 10
5122,BE,NaN,.BELGIUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5123,BE,ALB,Aalbeke,Aalbeke,VWV,-----6--,RL,601.0,NaN,5046N 00313E,NaN
5124,BE,AAB,Aalst,Aalst,VOV,1-3-----,RN,307.0,NaN,5056N 00402E,NaN
5125,BE,AAL,Aalter,Aalter,VOV,1-3-----,RN,307.0,NaN,5105N 00327E,NaN
5126,BE,AAS,Aarschot,Aarschot,VBR,--3-----,RN,307.0,NaN,5059N 00450E,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25745,NL,ZWS,Zwartsluis,Zwartsluis,NaN,1-3-----,RL,9811.0,NaN,NaN,NaN
25746,NL,ZGE,Zwiggelte,Zwiggelte,DR,--3-----,RL,407.0,NaN,5252N 00635E,NaN
25747,NL,ZWI,Zwijndrecht,Zwijndrecht,NaN,123-----,AF,9602.0,NaN,NaN,NaN
25748,NL,ZWN,Zwinderen,Zwinderen,DR,1-3-----,RN,501.0,NaN,5244N 00641E,NaN
25749,NL,ZWO,Zwolle,Zwolle,NaN,-23-----,AF,9602.0,NaN,NaN,NaN

In [56]:
df_countries['unlocode'] = df_countries['country_code'] + df_countries['city_code']

In [57]:
df_countries.head()

,country_code,city_code,city1,city2,alt,number,alt2,alt3,alt4,alt5,Unnamed: 10,unlocode
5122,BE,NaN,.BELGIUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5123,BE,ALB,Aalbeke,Aalbeke,VWV,-----6--,RL,601.0,NaN,5046N 00313E,NaN,BEALB
5124,BE,AAB,Aalst,Aalst,VOV,1-3-----,RN,307.0,NaN,5056N 00402E,NaN,BEAAB
5125,BE,AAL,Aalter,Aalter,VOV,1-3-----,RN,307.0,NaN,5105N 00327E,NaN,BEAAL
5126,BE,AAS,Aarschot,Aarschot,VBR,--3-----,RN,307.0,NaN,5059N 00450E,NaN,BEAAS

In [58]:
# create an index where we match the location description of the df to the location description of the df_countries


count_city = 0
count_country = 0

match = []

for city in list(df['description']):
    count_city += 1
    for code in list(df_countries['city1']):
        count_country += 1
        if city == code:            
            match.append([count_city -1, count_country -1])
    count_country = 0

In [59]:
assert(df_countries.iloc[match[0][1]]['city1'] == 'Amsterdam')
assert(df_countries.iloc[match[1][1]]['city1'] == 'Antwerpen')

In [60]:
uniq = []
duplicate = []
for x,y in match:
    if x not in uniq:
        uniq.append(x)
    else:
        duplicate.append(x)

duplicate

[13, 47, 50, 109, 123, 125]

In [73]:
print(df_countries.iloc[28873]),
print(df_countries.iloc[1077])

country_code              NL
city_code                MOE
city1               Moerdijk
city2               Moerdijk
alt                      NaN
number              123-----
alt2                      AF
alt3                    1907
alt4                     NaN
alt5            5141N 00434E
Unnamed: 10              NaN
unlocode               NLMOE
Name: 24892, dtype: object
country_code              BE
city_code                JK8
city1               Moerdijk
city2               Moerdijk
alt                      VWV
number              -23-----
alt2                      RL
alt3                    1901
alt4                     NaN
alt5            5108N 00259E
Unnamed: 10              NaN
unlocode               BEJK8
Name: 6199, dtype: object

In [41]:
df.loc[13]

code                                                      NLMOE00000
description                                                 Moerdijk
type                                                               4
encodedPolyline    mumzHw_sZkOhC_@yeAsSocCgEmCkGms@|BkOmWuxCyE_o@...
Name: 13, dtype: object

In [17]:
unlocode_match = [] 
    
for x in range(len(match)):
    unlocode_match.append([match[x][0],df_countries.iloc[match[x][1]]['unlocode']])

In [18]:
for x,y in unlocode_match:
    df.loc[x,('unlocode')] = y

In [19]:
# db_connection = 'mysql+pymysql://root:Nb++Nl7985@localhost/ship_recommendation'
# db_ships = create_engine(db_connection)
# df.to_sql('ships', con = db_connection, if_exists = 'replace', index = True)